#img1{
    width: 500px;
    height: 500px;
}
table p{
font-size: 18px;
text-indent: 2em;
line-height: 40px;
letter-spacing: 2px;
}
section table{
    width:90%;
    margin: 0 auto;
    margin-top: 10px;
}
#img2{
    width: 650px;
    height: 500px;
    margin-left: 15px;
}