
/* 公共样式 */
*{
    margin: 0;
    padding: 0;
}
body{
    width: 80%;
    margin: 0 auto;
    background-color: #dcceb0;
}
#banner{
    height: 500px;
}
nav{
    width: 100%;
    height: 60px;
    position: relative;
    background-color: #d57b35;
}
a{text-decoration: none;}
nav li{
    display: inline-block;
    width: 200px;text-align: center;
}
nav ul{

   position: absolute;
    left: 150px;
}
nav img{
    position: absolute;
    top: -35px;
    width: 200px;
   left: 20px;
}
nav a{
    line-height: 60px;
    color: white;
    font-family: "黑体";
    font-size: 18px;
}
nav a:hover{
    text-decoration: underline;
    color: #960000;
}
.h1{
    border-bottom: 4px solid #d57b35;
    width: 200px;
    margin: 0 auto;
    text-align: center;
}
h1{

    font-size: 28px;
    letter-spacing: 3px;
    margin-top: 10px;
    font-family: "宋体";
    line-height: 50px;
}
footer{
    text-align: center;
    background-color:#d57b35;
    color: white;
    line-height: 40px;

}
section{
    padding-bottom: 30px;
}
