/* 通用样式 */
body {
    font-family: Arial, sans-serif;
    background-color: #ace3ff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

nav {
    background-color: #333;
    width: 100%;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    text-decoration: underline;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 800px;
    width: 100%;
    margin: 20px 0;
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.info {
    text-align: left;
    margin-bottom: 20px;
}

audio {
    width: 100%;
    margin-top: 10px;
}

.music-list .music-item {
    margin-bottom: 20px;
}

.anime-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.anime-item {
    margin: 10px;
    text-align: center;
    max-width: 300px;
}

.anime-item img {
    width: 150px;
    height: 200px;
    border-radius: 10px;
}

.anime-item h3 {
    margin: 10px 0;
    font-size: 20px;
}

.anime-intro,
.anime-reason {
    text-align: left;
    margin: 10px 0;
    font-size: 14px;
}

.gallery-section {
    margin-bottom: 30px;
}

.gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.gallery img {
    width: 100%;
    max-width: 200px;
    margin: 10px;
    border-radius: 10px;
}
