body {
    margin: 0;
    padding: 0;
    background-image: url('背景.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
}
nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: linear-gradient(to right, #6dd5ed, #2193b0);
    color: white;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}
nav .logo img {
    height: 70px;
    margin-right:10px;
}
nav a {
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    margin-left: 20px;
}
nav a:hover {
    color: #ffcc00;
    text-decoration: underline;
}
.right-box {
display: flex;
align-items: center; 
}
.search-box {
    width: 200px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 20px;
}
main {
    margin-top: 80px;
    padding: 20px;
}
main section {
    margin-bottom: 40px;
}
main section h2 {
    font-size: 24px;
    margin-bottom: 20px;
}
main section img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
footer {
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    position: relative;
    bottom: 0;
    width: 100%;
}
.music-control {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1001;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.music-control button {
    background-image: url('开始播放.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
}
@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
    }
    nav a {
        margin: 5px 0;
    }
    .search-box {
        width: 100%;
        margin-bottom: 10px;
    }
    main {
        margin-top: 120px;
    }
}
